.ui-section {
    margin: 4px;
    padding: 4px;
    border: 1px solid #75757554;
    background: linear-gradient(#48405300,#0026396b);
}

.ui-item {
    border-bottom: 1px solid #00000059;
    padding: 10px;
    width: fit-content;
    display: inline-block;
}

.ui-item label {
    display: block;
}

.debugui {
    font-size: 11px;
    font-family: Courier;
    background-color: #00ff341c;
}

#introScreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #282828db;
    z-index: 200;
}

#introSettingsContainer {
    width: 400px;
    position: absolute;
    left: calc(50% - 240px);
    padding: 20px;
    background-color: #0c021c;
    border-radius: 10px;
    border: 1px solid #18005b;
    height: 100%;
}

#introSettings {
    max-height: calc(100% - 100px);
    overflow-y: scroll;
    border: 1px solid #18005b;
}

#initButtonContainer {
    height: 100px;
}

#header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(180deg, #333 0%, #1a1a1a 100%);
    border-bottom: 2px solid var(--accent-color);
}

#header .ui-section {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: var(--accent-color);
    text-shadow: 0 0 5px var(--accent-color), 0 0 10px var(--accent-color);
}

.raceNumbers {
    position: static;
    font-size: 1rem;
    background: rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 4px;
}

#bettingPanel, #raceHistory {
    margin: 0;
}

#raceWeekContainer {
    margin-top: 90px;
}

#raceWeekInfoSection1 > li {
    display: inline-block;
}

#settings {
    position: static;
    border: 1px solid #ff6000;
}

#trackHeader {
    text-align: center;
}

.weatherDisplayWrapper {
    font-weight: normal;
    font-size: 11px;
    vertical-align: middle;
}

#raceTrack {
    margin: 0;
}

.track {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.lane {
    display: flex;
    height: 40px;
    border-top: 2px solid #725b82;
    border-bottom: 2px solid #725b82;
    position: relative;
}

.segment {
    flex: 1;
    border-right: 1px dashed #959595;
    background-color: #282828;
    position: relative;
}

.segment:nth-child(3n) {
    border-color: white;
    border-right-style: double;
}

.segment:last-child:after {
    content: ".";
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow: hidden;
    position: absolute;
    background-color: #ff1f3e8a;
    color: #ff1f3e8a;
}

.groundTypemud { background-color: #84370a50; }
.groundTypemarble { background-color: #88a6a850; }
.groundTyperock { background-color: #0c282f50; }
.groundTypegrass { background-color: #03571450; }
.groundTypegravel { background-color: #443a624f; }
.groundTypedirt { background-color: #2d190050; }
.groundTypeasphalt { background-color: #13131350; }

.finishLine {
    background-color: #fffb0c59;
}

.racer {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background-color: black;
    position: absolute;
    border-radius: 10px;
    border: 3px solid #515151;
    box-shadow: -90px 4px 37px #000000;
}

.racerInner {
    position: relative;
    height: 100%;
}

.racer .racerName {
    position: absolute;
    padding: 2px;
    text-align: center;
    width: calc(90% - 4px);
    left: 5%;
    top: 10%;
}

.racerName {
    font-size: 10px;
    background: #000000c2;
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    font-family: verdana;
}

.racerStripe {
    width: calc(33% - 1px);
    height: 100%;
    float: left;
}

.racerStripe1 {
    border-radius: 6px 0px 0px 6px;
}

.racerStripe3 {
    border-radius: 0px 6px 6px 0px;
}

.racerStripe2 {
    width: 33%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.racerID {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 9;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px black;
    background-color: #ffffffab;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 9px;
}

.laneResult1 { background-color: #FFC273; }
.laneResult2 { background-color: #778B95; }
.laneResult3 { background-color: #824229; }
.laneResult4 { background-color: #1115; }
.laneResult5 { background-color: #1115; }
.laneResult6 { background-color: #1115; }
.laneResult7 { background-color: #1115; }
.laneResult8 { background-color: #1115; }
.laneResult9 { background-color: #1115; }
.laneResult10 { background-color: #1115; }
.laneResult11 { background-color: #1115; }
.laneResult12 { background-color: #1115; }
.laneResult13 { background-color: #1115; }
.laneResult14 { background-color: #1115; }
.laneResult15 { background-color: #1115; }

.racer.boosting {
    box-shadow: 0px 0px 20px white;
}

.remainingEndurance {
    position: absolute;
    background-color: #bf0;
    left: -10px;
    border: 1px solid black;
    right: 100%;
    top: 0px;
    bottom: 0px;
}

#historyList li {
    list-style: none;
    margin-bottom: 5px;
    border-bottom: 3px solid #797979;
    padding-bottom: 5px;
}

#historyList li:nth-child(2n) {
    background-color: #0000006b;
}

.historyRacerPlacingContainer {
    display: inline-block;
    border: 1px solid #686868;
    margin-right: 5px;
    padding: 0px 5px 0px 0px;
    border-radius: 3px;
    position: relative;
    font-size: 10px;
}

.historyRacerPlacingContainer:nth-child(2) { opacity: 0.9; }
.historyRacerPlacingContainer:nth-child(3) { opacity: 0.8; }
.historyRacerPlacingContainer:nth-child(4) { opacity: 0.7; }
.historyRacerPlacingContainer:nth-child(5) { opacity: 0.6; }
.historyRacerPlacingContainer:nth-child(6) { opacity: 0.5; }
.historyRacerPlacingContainer:nth-child(7) { opacity: 0.4; }
.historyRacerPlacingContainer:nth-child(8) { opacity: 0.3; }
.historyRacerPlacingContainer:nth-child(n+9) { opacity: 0.2; }

.historyRacerPlacingContainer div {
    display: inline-block;
}

.historyRacerPlacingContainer .historyRacerPlacing {
    border: 1px solid black;
    margin-right: 4px;
    padding: 2px;
    background-color: black;
}

.historyRacerId {
    margin-left: 5px;
    background-color: #CCCCCC91;
    color: #313131;
    padding: 0px 5px;
}

.placingContainerBackground .racerStripe {
    z-index: -1;
    position: absolute;
    top: 0;
}

.placingContainerBackground .racerStripe2 {
    left: 33%;
}

.placingContainerBackground .racerStripe3 {
    left: 66%;
}

.livePosition1 {
    border-color: white;
}

.stumbling {
    border-color: black;
    opacity: 0.5;
}

li .historyRacerPlacingContainer {
    min-width: 140px;
    position: relative;
}

li .placingContainerBackground .racerStripe {
    z-index: auto;
}

li .historyRacerPlacingContainer .historyRacerPlacing {
    z-index: 10;
    display: none;
}

li .historyRacerPlacingContainer .racerName {
    z-index: 11;
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    overflow-x: hidden;
    bottom: 5%;
    text-align: center;
    font-size: 8px;
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
}

#left-panel, #right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smoke {
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    filter: blur(10px);
    animation: smokeAnimation 2s infinite;
    opacity: 0.5;
    z-index: 999999;
}

@keyframes smokeAnimation {
    0% {
        transform: translateY(-50%) translateX(0) scale(1);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-50%) translateX(-40px) scale(1.5);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-50%) translateX(-80px) scale(2);
        opacity: 0;
    }
}

.air {
    position: absolute;
    width: 20px;
    height: 10px;
    background: rgba(173, 216, 230, 0.8);
    border-radius: 0%;
    opacity: 0;
    left: 0px;
    top: calc(50% - 5px);
    animation: exhale 0.8s infinite;
}

.startingLine .air, .stumbling .air, .finished .air {
    display: none;
}

@keyframes exhale {
    0% {
        transform: translate(0, 0) scale(0.5);
        opacity: 0;
        filter: blur(0px);
    }
    25% {
        opacity: 1;
        filter: blur(2px);
    }
    100% {
        transform: translate(-20px, 0px) scaleX(5) scaleY(2);
        opacity: 0;
        filter: blur(10px);
    }
}