.racerColor0 { background-color: #FFF275; }
.racerColor1 { background-color: #FF8C42; }
.racerColor2 { background-color: #FF3C38; }
.racerColor3 { background-color: #A23E48; }
.racerColor4 { background-color: #6C8EAD; }
.racerColor5 { background-color: #171219; }
.racerColor6 { background-color: #225560; }
.racerColor7 { background-color: #7AC74F; }
.racerColor8 { background-color: #F1DABF; }
.racerColor9 { background-color: #08BDBD; }
.racerColor10 { background-color: #2A0C4E; }
.racerColor11 { background-color: #EEABC4; }
.racerColor12 { background-color: #006BA6; }
.racerColor13 { background-color: #161032; }
.racerColor14 { background-color: #E06D06; }
.racerColor15 { background-color: #475841; }
.racerColor16 { background-color: #266DD3; }
.racerColor17 { background-color: #B7ADCF; }
.racerColor18 { background-color: #4F646F; }
.racerColor19 { background-color: #083D77; }
.racerColor20 { background-color: #EE964B; }
.racerColor21 { background-color: #1D3557; }
.racerColor22 { background-color: #F7A072; }
.racerColor23 { background-color: #435058; }
.racerColor24 { background-color: #084C61; }
.racerColor25 { background-color: #606C38; }
.racerColor26 { background-color: #283618; }
.racerColor27 { background-color: #FFB2E6; }
.racerColor28 { background-color: #D972FF; }
.racerColor29 { background-color: #EA9E8D; }
.racerColor30 { background-color: #1C2826; }

