.racerColor0 { background-color: var(--racer-color-0); }
.racerColor1 { background-color: var(--racer-color-1); }
.racerColor2 { background-color: var(--racer-color-2); }
.racerColor3 { background-color: var(--racer-color-3); }
.racerColor4 { background-color: var(--racer-color-4); }
.racerColor5 { background-color: var(--racer-color-5); }
.racerColor6 { background-color: var(--racer-color-6); }
.racerColor7 { background-color: var(--racer-color-7); }
.racerColor8 { background-color: var(--racer-color-8); }
.racerColor9 { background-color: var(--racer-color-9); }
.racerColor10 { background-color: var(--racer-color-10); }
.racerColor11 { background-color: var(--racer-color-11); }
.racerColor12 { background-color: var(--racer-color-12); }
.racerColor13 { background-color: var(--racer-color-13); }
.racerColor14 { background-color: var(--racer-color-14); }
.racerColor15 { background-color: var(--racer-color-15); }
.racerColor16 { background-color: var(--racer-color-16); }
.racerColor17 { background-color: var(--racer-color-17); }
.racerColor18 { background-color: var(--racer-color-18); }
.racerColor19 { background-color: var(--racer-color-19); }
.racerColor20 { background-color: var(--racer-color-20); }
.racerColor21 { background-color: var(--racer-color-21); }
.racerColor22 { background-color: var(--racer-color-22); }
.racerColor23 { background-color: var(--racer-color-23); }
.racerColor24 { background-color: var(--racer-color-24); }
.racerColor25 { background-color: var(--racer-color-25); }
.racerColor26 { background-color: var(--racer-color-26); }
.racerColor27 { background-color: var(--racer-color-27); }
.racerColor28 { background-color: var(--racer-color-28); }
.racerColor29 { background-color: var(--racer-color-29); }
.racerColor30 { background-color: var(--racer-color-30); }

