:root {
    --racer-color-0: #FFF275;
    --racer-color-1: #FF8C42;
    --racer-color-2: #FF3C38;
    --racer-color-3: #A23E48;
    --racer-color-4: #6C8EAD;
    --racer-color-5: #171219;
    --racer-color-6: #225560;
    --racer-color-7: #7AC74F;
    --racer-color-8: #F1DABF;
    --racer-color-9: #08BDBD;
    --racer-color-10: #2A0C4E;
    --racer-color-11: #EEABC4;
    --racer-color-12: #006BA6;
    --racer-color-13: #161032;
    --racer-color-14: #E06D06;
    --racer-color-15: #475841;
    --racer-color-16: #266DD3;
    --racer-color-17: #B7ADCF;
    --racer-color-18: #4F646F;
    --racer-color-19: #083D77;
    --racer-color-20: #EE964B;
    --racer-color-21: #1D3557;
    --racer-color-22: #F7A072;
    --racer-color-23: #435058;
    --racer-color-24: #084C61;
    --racer-color-25: #606C38;
    --racer-color-26: #283618;
    --racer-color-27: #FFB2E6;
    --racer-color-28: #D972FF;
    --racer-color-29: #EA9E8D;
    --racer-color-30: #1C2826;
}

